olx_v2.json
[{"id":"f0a793e5.c4399","type":"tab","label":"OLX v2","disabled":false,"info":""},{"id":"c11aa5a6.032be8","type":"inject","z":"f0a793e5.c4399","name":"select search list","props":[{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from search where active=1","payloadType":"str","x":130,"y":60,"wires":[["342ca3e4.a6759c"]]},{"id":"342ca3e4.a6759c","type":"mysql","z":"f0a793e5.c4399","mydb":"874505c0.d595e8","name":"olx schema","x":350,"y":60,"wires":[["1fd8fdb5.41fad2"]]},{"id":"e6968e5d.5fc48","type":"debug","z":"f0a793e5.c4399","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":260,"wires":[]},{"id":"a92927e0.fe14b8","type":"change","z":"f0a793e5.c4399","name":"Params","rules":[{"t":"set","p":"headers.User-Agent","pt":"msg","to":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36","tot":"str"},{"t":"set","p":"page","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"size","pt":"msg","to":"1000","tot":"str"},{"t":"set","p":"keyword","pt":"msg","to":"$encodeUrl(payload.search_term)\t","tot":"jsonata"},{"t":"set","p":"location","pt":"msg","to":"payload.location_id","tot":"msg"},{"t":"set","p":"searchId","pt":"msg","to":"payload.id","tot":"msg"},{"t":"set","p":"category","pt":"msg","to":"payload.category_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["b2d5bb92.78bf18"]]},{"id":"1fd8fdb5.41fad2","type":"split","z":"f0a793e5.c4399","name":"split search records into msgs","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":140,"wires":[["79bdff71.bf8fc"]]},{"id":"b2d5bb92.78bf18","type":"http request","z":"f0a793e5.c4399","name":"OLX Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.olx.in/api/relevance/search?location={{location}}&query={{keyword}}&page={{page}}&size={{size}}&category={{category}}","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":200,"wires":[["4f63b285.1a706c"]]},{"id":"4f63b285.1a706c","type":"json","z":"f0a793e5.c4399","name":"Response to JSON","property":"payload","action":"","pretty":false,"x":370,"y":260,"wires":[["eeb55884.8d0b18"]]},{"id":"eeb55884.8d0b18","type":"change","z":"f0a793e5.c4399","name":"Get data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["52ca1999.c43688"]]},{"id":"38d6f359.9da92c","type":"function","z":"f0a793e5.c4399","name":"Insert Ads","func":"msg.payload.priceRaw = msg.payload.price.value.raw;\nmsg.payload.title = msg.payload.title;\nmsg.payload.state = msg.payload.locations_resolved.ADMIN_LEVEL_1_name;\nmsg.payload.city = msg.payload.locations_resolved.ADMIN_LEVEL_3_name;\nmsg.payload.area = msg.payload.locations_resolved.SUBLOCALITY_LEVEL_1_name;\nmsg.payload.searchId = msg.searchId;\nmsg.topic=\"INSERT IGNORE INTO ads (`id`,`search_id`, `title`, `description`, `state`, `city`, `area`, `price`) \\\n           VALUES (:id, :searchId, :title, :description, :state, :city, :area, :priceRaw)\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":320,"wires":[["96d75457.de1e58"]]},{"id":"96d75457.de1e58","type":"mysql","z":"f0a793e5.c4399","mydb":"874505c0.d595e8","name":"olx schema","x":530,"y":320,"wires":[[]]},{"id":"52ca1999.c43688","type":"split","z":"f0a793e5.c4399","name":"Split ads into msgs","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":260,"wires":[["38d6f359.9da92c","e6968e5d.5fc48"]]},{"id":"79bdff71.bf8fc","type":"delay","z":"f0a793e5.c4399","name":"Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"outputs":1,"x":650,"y":140,"wires":[["a92927e0.fe14b8"]]},{"id":"60788173.b0eeb","type":"inject","z":"f0a793e5.c4399","name":"select active search ids","props":[{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"select id, search_term from search where active=1","payloadType":"str","x":150,"y":420,"wires":[["2294280b.17dbc8"]]},{"id":"a03970ff.96e71","type":"template","z":"f0a793e5.c4399","name":"HTML Email Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n    <style>\n        table.customTable {\n          width: 100%;\n          background-color: #FFFFFF;\n          border-collapse: collapse;\n          border-width: 2px;\n          border-color: #7ea8f8;\n          border-style: solid;\n          color: #000000;\n        }\n        \n        table.customTable td, table.customTable th {\n          border-width: 2px;\n          border-color: #7ea8f8;\n          border-style: solid;\n          padding: 5px;\n        }\n        \n        table.customTable thead {\n          background-color: #7ea8f8;\n        }\n    </style>\n</head>\n<body>\n    <table class=\"customTable\">\n      <thead>\n        <tr>\n          <th>Title</th>\n          <th>Price</th>\n          <th>Location</th>\n        </tr>\n      </thead>\n      <tbody>\n        {{#payload}}\n        <tr>\n          <td><a href=\"https://www.olx.in/item/{{id}}\">{{title}}</a></td>\n          <td>{{price}}</td>\n          <td>{{state}} / {{city}} / {{area}}</td>\n        </tr>\n        {{/payload}}\n      </tbody>\n    </table>\n</body>\n</html>\n","output":"str","x":420,"y":580,"wires":[["2c7fbd9e.73d8b2"]]},{"id":"2c7fbd9e.73d8b2","type":"function","z":"f0a793e5.c4399","name":"Set Email Subject and Body","func":"msg.topic = 'New Ads on OLX - ' + msg.search_term;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":580,"wires":[["9f39d53e.474d78","edd48b1b44aebfd3"]]},{"id":"cb0d606f.64a0e","type":"switch","z":"f0a793e5.c4399","name":"Have ads to notify?","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":500,"wires":[["47d90192.05a8d","a03970ff.96e71"]]},{"id":"47d90192.05a8d","type":"function","z":"f0a793e5.c4399","name":"","func":"msg.topic = \"UPDATE ads SET is_notified = 1\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":500,"wires":[["2a3a074.83181f8"]]},{"id":"2a3a074.83181f8","type":"mysql","z":"f0a793e5.c4399","mydb":"874505c0.d595e8","name":"olx schema","x":990,"y":500,"wires":[[]]},{"id":"2294280b.17dbc8","type":"mysql","z":"f0a793e5.c4399","mydb":"874505c0.d595e8","name":"olx schema","x":390,"y":420,"wires":[["72f05ef2.c8ca9"]]},{"id":"72f05ef2.c8ca9","type":"split","z":"f0a793e5.c4399","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":420,"wires":[["d79a63c2.a136a"]]},{"id":"837d6628.e9af38","type":"mysql","z":"f0a793e5.c4399","mydb":"874505c0.d595e8","name":"olx schema","x":930,"y":420,"wires":[["22b3457f.46213a"]]},{"id":"d79a63c2.a136a","type":"change","z":"f0a793e5.c4399","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"select * from ads where search_id={{search_id}} and is_notified=0","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"{{search_id}}","fromt":"str","to":"payload.id","tot":"msg"},{"t":"set","p":"search_term","pt":"msg","to":"payload.search_term","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":420,"wires":[["837d6628.e9af38"]]},{"id":"22b3457f.46213a","type":"split","z":"f0a793e5.c4399","name":"","splt":"\\n","spltType":"str","arraySplt":"25","arraySpltType":"len","stream":false,"addname":"","x":370,"y":500,"wires":[["cb0d606f.64a0e"]]},{"id":"9f39d53e.474d78","type":"debug","z":"f0a793e5.c4399","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":640,"wires":[]},{"id":"edd48b1b44aebfd3","type":"e-mail","z":"f0a793e5.c4399","server":"smtp.gmail.com","port":"465","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"kiliyani.sajeesh@gmail.com","dname":"","x":1040,"y":580,"wires":[]},{"id":"874505c0.d595e8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"olx","tz":"","charset":"UTF8"}]