water-monitor.json
[{"id":"e54e31e6.41389","type":"tab","label":"Water Monitor","disabled":false,"info":""},{"id":"a03d1a1f.6421c8","type":"mqtt in","z":"e54e31e6.41389","name":"","topic":"home/terrace/tank/water/level","qos":"2","datatype":"auto","broker":"f7a5d18a.ad3c","x":220,"y":320,"wires":[["bd6e0fb.7c562f"]]},{"id":"820bebc5.fa9498","type":"mqtt out","z":"e54e31e6.41389","name":"","topic":"home/terrace/tank/water-level","qos":"","retain":"","broker":"f7a5d18a.ad3c","x":990,"y":320,"wires":[]},{"id":"5ab9c674.21aed8","type":"mqtt out","z":"e54e31e6.41389","name":"","topic":"home/terrace/tank/water/level","qos":"","retain":"","broker":"f7a5d18a.ad3c","x":490,"y":180,"wires":[]},{"id":"fe8dd1ee.0ac35","type":"inject","z":"e54e31e6.41389","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["5ab9c674.21aed8"]]},{"id":"40b4fb76.184254","type":"change","z":"e54e31e6.41389","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"100 - ($number(msg.payload) - 15)/(78 - 15) * 100","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$ceil(msg.payload)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$min([100, msg.payload])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$max([0, msg.payload])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload) & \"%\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":320,"wires":[["820bebc5.fa9498"]]},{"id":"74ba970f.3757c8","type":"ui_gauge","z":"e54e31e6.41389","name":"","group":"74bd77d7.7a4428","order":1,"width":0,"height":0,"gtype":"wave","title":"Tank","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":420,"wires":[]},{"id":"62b34de8.40f804","type":"mqtt in","z":"e54e31e6.41389","name":"","topic":"home/terrace/tank/water-level","qos":"2","datatype":"auto","broker":"f7a5d18a.ad3c","x":220,"y":400,"wires":[["74ba970f.3757c8","9ad93f7a.869da","4ea90de1.dc6354"]]},{"id":"46b0e35b.e212ac","type":"ui_text","z":"e54e31e6.41389","group":"74bd77d7.7a4428","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":460,"wires":[]},{"id":"9ad93f7a.869da","type":"moment","z":"e54e31e6.41389","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd, MMMM Do, YYYY h:mma","locale":"en_US","output":"","outputType":"msg","outTz":"Asia/Calcutta","x":520,"y":460,"wires":[["46b0e35b.e212ac"]]},{"id":"bd6e0fb.7c562f","type":"switch","z":"e54e31e6.41389","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":320,"wires":[["40b4fb76.184254"]]},{"id":"b2ef7314.0ce75","type":"inject","z":"e54e31e6.41389","name":"","topic":"","payload":"14","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["5ab9c674.21aed8"]]},{"id":"351b4c7b.55d5d4","type":"inject","z":"e54e31e6.41389","name":"","topic":"","payload":"65","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["5ab9c674.21aed8"]]},{"id":"96ec10b4.c652d","type":"inject","z":"e54e31e6.41389","name":"","topic":"","payload":"70","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["5ab9c674.21aed8"]]},{"id":"7012b4b9.f36b8c","type":"inject","z":"e54e31e6.41389","name":"","topic":"","payload":"75","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":260,"wires":[["5ab9c674.21aed8"]]},{"id":"59b65a50.d596d4","type":"comment","z":"e54e31e6.41389","name":"Test Nodes","info":"Test Nodes","x":160,"y":60,"wires":[]},{"id":"4ea90de1.dc6354","type":"debug","z":"e54e31e6.41389","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":380,"wires":[]},{"id":"c5434c7b.74a08","type":"mysql","z":"e54e31e6.41389","mydb":"2286b39a.e7503c","name":"","x":1100,"y":540,"wires":[["f1fe9c4b.2e15b"]]},{"id":"bf99a691.3ff958","type":"mqtt in","z":"e54e31e6.41389","name":"","topic":"home/terrace/tank/water/level","qos":"2","datatype":"auto","broker":"f7a5d18a.ad3c","x":220,"y":540,"wires":[["9140a9e8.e4c448"]]},{"id":"9140a9e8.e4c448","type":"switch","z":"e54e31e6.41389","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":540,"wires":[["a0f1cdba.53467"]]},{"id":"a0f1cdba.53467","type":"change","z":"e54e31e6.41389","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"100 - ($number(msg.payload) - 15)/(78 - 15) * 100","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$ceil(msg.payload)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$min([100, msg.payload])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$max([0, msg.payload])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":540,"wires":[["3f771944.0d9466"]]},{"id":"3f771944.0d9466","type":"function","z":"e54e31e6.41389","name":"","func":"var out = \"INSERT INTO mqtt (timestamp,topic,data)\"\nout = out + \"VALUES (now(),'\" \nout = out + msg.topic + \"','\" + msg.payload + \"');\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":540,"wires":[["c5434c7b.74a08"]]},{"id":"f1fe9c4b.2e15b","type":"debug","z":"e54e31e6.41389","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":540,"wires":[]},{"id":"f7a5d18a.ad3c","type":"mqtt-broker","z":"","name":"Raspberry","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74bd77d7.7a4428","type":"ui_group","z":"","name":"Water","tab":"cf1f1a2.a2604e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2286b39a.e7503c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"data_log","tz":""},{"id":"cf1f1a2.a2604e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]